<%- include('../includes/head.ejs') %>

  <body>
    <%- include('../includes/navbar.ejs') %>
      <main>
        <div class="marginTopAfterNavBar">
          <% if(successMessage){ %>
            <h2>
              <%= successMessage %>
            </h2>
            <% } if(errorMessage) { %>
              <h2>
                <%= errorMessage %>
              </h2>
              <% } %>
                <a href="/auth/login">Log in</a>
        </div>
      </main>