<%- include('../includes/head.ejs') %>

  <body>
    <%- include('../includes/navbar.ejs') %>
      <main>
        <% if(successMessage) { %>
          <h2>
            <%= successMessage %>
          </h2>
          <% } if (errorMessage){ %>
            <h2>
              <%= errorMessage %>
            </h2>
            <% } %>
      </main>