<%- include('../includes/head.ejs') %>

  <body>
    <%- include('../includes/navbar.ejs') %>
      <main>
        <h2>Password changed successfully!</h2>
        <a href="<%= host %>/auth/login">Log in</a>
      </main>