<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/x-icon" href="/assets/common/favicon.ico">
  <meta name="description"
    content="Find, book, and excel at your favorite sports with our hassle-free sports center renting platform. It’s easy to use, forget about excuses and problems, focus on solutions and take action!">
  <meta name="keywords" content="booking platform, sports, courts, squash, tennis, football">
  <meta name="robots" content="index, follow">
  <meta property="og:title" content="Sports Booking Platform">
  <meta property="og:description"
    content="Find, book, and excel at your favorite sports with our hassle-free sports center renting platform. It’s easy to use, forget about excuses and problems, focus on solutions and take action!">
  <meta property="og:image" content="/assets/common/ogPicture.png">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Sports Booking Platform">

  <title>
    <%= pageTitle %>
  </title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/common/main.css">
  <link rel="stylesheet" href="/css/common/navbar.css">
  <link rel="stylesheet" href="/css/common/inputForm.css">
  <script src="/scripts/common/mobileNavigation.js"></script>