<div id="navBarContainer">
  <div id="leftHalf">
    <a id="navBarLogo" href="#top"><img src="/assets/common/logo.svg" alt="logo"></a>
  </div>
  <img id="burger" src="/assets/common/burger.svg" alt="burger">
  <div id="rightHalf" class="drawerHide">
    <ul id="navBarList">
      <li class="navOption">
        <a href="/">Home</a>
      </li>
      <% if(isAuthenticated) { %>
        <li class="navOption">
          <a href="/auth/account">Account</a>
        </li>
        <li class="navOption">
          <form action="/auth/logout" method="post">
            <button class="roundedCornersAction loginAction">Logout</button>
          </form>
        </li>
        <% } else { %>
          <li class="navOption">
            <a href="/auth/login" class="roundedCornersAction loginAction">Log in</a>
          </li>
          <% } %>
    </ul>
  </div>
</div>