<!DOCTYPE html>
<html>

<%- include('./includes/head.ejs') %>
  <link rel="stylesheet" href="/css/404/404.css">
  </head>

  <body>
    <%- include('./includes/navbar.ejs') %>
      <div class="marginTopAfterNavBar">
        <div class="container">
          <h1>Page not found</h1>
          <p>The page you try to reach doesn't exist.
          </p>
        </div>
      </div>
  </body>

</html>