<!DOCTYPE html>
<html>

<head>
  <title>Site Temporarily Unavailable</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="container">
    <h1>Site Temporarily Unavailable</h1>
    <p>We apologize for the inconvenience. Our website is currently undergoing maintenance and will be back online soon.
    </p>
    <p>In the meantime, you can reach us via:</p>
    <ul>
      <li>Email: <a href="mailto:dragusincristian609@gmail.com">dragusincristian609@gmail.com</a></li>
      <li>Phone: <a href="tel:+40773312648">+40773312648</a></li>
    </ul>
  </div>
</body>

</html>