html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body{
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  font-family: 'Lato', sans-serif;
  color: black;
}

*:focus{
  outline: 2px solid #EA3C12;
  border-width: 0;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 80px;
  width: 100%;
}

main {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

div.marginTopAfterNavBar{
  margin-top: 50px;
}

h1 {
  font-size: 4rem;
  max-width: 500px;
}

h2 {
  font-size: 3rem;
}

#top{
  display: hidden;
}

a{
  text-decoration: none;
  cursor: pointer;
}
a:hover{
  text-decoration: underline;
  cursor: pointer;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: none;
  cursor: pointer;
}

button:hover{
  text-decoration: underline;
}

.roundedCornersAction {
  border-radius: 50px;
  padding: 10px 30px;
  border: 1px solid black;
}

.liftUpOnHover{
  transition: transform 0.3s;
}

.liftUpOnHover:hover{
  transform: translateY(-10px);
}


.error{
  color: red;
}

.success{
  color: green;
}

.marginTop{
  margin-top: 20px;
}

.centeredP{
  width: 100;
  text-align: center;
}
